// Colors
$color-white: #fff;
$color-black-1: #000;
$color-black-2: #404040;
$color-grey-1: #d9d9d9;
$color-grey-2: #aaa;

$color-info: #3498db;


// Fonts
$default-font-family: 'Segoe UI', Arial, sans-serif;
$default-font-size: 1.4rem;
$default-line-height: 1.43;
$default-font-color: $color-black-2;


// Combobox
$combobox-border-color: $color-grey-1;
$combobox-outline-color: $color-info;
$combobox-placeholder-color: $color-grey-2;


// Dropdown
$dropdown-border-color: $color-grey-1;
